<style>
.bs-docs-header { background: #eee; color: #777; }
.bs-docs-header h1 { color: #000; }
#about h2 { margin-bottom: 4px; }
#about .sub-title { padding-left: 2px; color: #777; }
#about ul { padding-left: 20px; }
#about li { margin: 0; padding: 0; }

</style>
<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>关于</h1>
    <p>明确团队目标和战略，强化沟通与分享，记录项目进展，探索软件开发管理最佳实践。</p>
  </div>
</div>
<div id="about" class="part-container">
  <div class="row">
    <div class="col-md-3">
      <h2>原则</h2>
      <p class="sub-title">Priciple</p>
      <ul>
        <li>80/20</li>
        <li>番茄工作法</li>
      </ul>
    </div>

    <div class="col-md-3">
      <h2>风格</h2>
      <p class="sub-title">Style</p>
      <ul>
        <li><a href="http://thoughtworks.com">Thoughtworks</a></li>
        <li><a href="http://todoist.com">Todoist</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h2>技术</h2>
      <p class="sub-title">Tech Stack</p>
      <ul>
        <li>Node</li>
        <li>Express</li>
        <li>socket.io</li>
        <li>Sqlite</li>
      </ul>
    </div>

    <div class="col-md-3">
      <h2>贡献者</h2>
      <p class="sub-title">Contributors</p>
      <p>Author: <a href="http://nonocast.cn">曹晖</a></p>
      <p>Lead Maintainer: <a href="http://nonocast.cn">曹晖</a></p>
      <p>Contributors</p>
      <ul>
        <li>葛晓东</li>
        <li>封昌俊</li>
      </ul>
    </div>
  </div>

  <h2>需求</h2>
  <p class="sub-title">Requirement</p>
  <div class="row">
    <div class="col-md-3">
      <h2>目标</h2>
      <p class="sub-title">MBO</p>
      <ul>
        <li><a href="http://thoughtworks.com">Thoughtworks</a></li>
        <li><a href="http://todoist.com">Todoist</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h2>项目</h2>
      <p class="sub-title">Project</p>
      <ul>
        <li><a href="http://thoughtworks.com">Thoughtworks</a></li>
        <li><a href="http://todoist.com">Todoist</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h2>沟通</h2>
      <p class="sub-title">Communication</p>
      <ul>
        <li><a href="http://thoughtworks.com">Thoughtworks</a></li>
        <li><a href="http://todoist.com">Todoist</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h2>博客</h2>
      <p class="sub-title">Blog</p>
      <ul>
        <li><a href="http://thoughtworks.com">Thoughtworks</a></li>
        <li><a href="http://todoist.com">Todoist</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h2>任务</h2>
      <p class="sub-title">Task &amp; Issue</p>
      <ul>
        <li><a href="http://thoughtworks.com">Thoughtworks</a></li>
        <li><a href="http://todoist.com">Todoist</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h2>日历</h2>
      <p class="sub-title">Calendar</p>
      <ul>
        <li><a href="http://thoughtworks.com">Thoughtworks</a></li>
        <li><a href="http://todoist.com">Todoist</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h2>会议</h2>
      <p class="sub-title">Meeting</p>
      <ul>
        <li><a href="http://thoughtworks.com">Thoughtworks</a></li>
        <li><a href="http://todoist.com">Todoist</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h2>行政</h2>
      <p class="sub-title">Administrator</p>
      <ul>
        <li><a href="http://thoughtworks.com">Thoughtworks</a></li>
        <li><a href="http://todoist.com">Todoist</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h2>我们</h2>
      <p class="sub-title">People</p>
      <ul>
        <li><a href="http://thoughtworks.com">Thoughtworks</a></li>
        <li><a href="http://todoist.com">Todoist</a></li>
      </ul>
    </div>
  </div>
</div>
