<style>
.blog-list { margin-top: 10px; }
.blog-list li { margin-left: -20px; }
article li { margin-left: -20px; }

</style>
<div class="part-container" style="margin-top: 10px;">
  <ol class="breadcrumb">
    <li><a href="javascript:void(0);">技术中心</a></li>
    <li><a href="javascript:void(0);">开发团队</a></li>
    <li><a href="javascript:void(0);">开发1组</a></li>
    <li class="active">曹晖</li>
  </ol>

  <div class="row">
    <div class="col-md-4" style="background: #eee;">
      <div style="padding: 25px 0px;">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/images/icon/CaoHui.jpg" alt="..." style="max-width: 48px;">
          </a>
          <div class="media-body">
            <h4 class="media-heading">曹晖</h4>
            <p>Stay Hungry, Stay Foolish.</p>
          </div>
        </div>
        <ul class="blog-list">
          <li><a href="http://nonocast.cn/img-in-html5/">img in html5</a></li>
          <li><a href="http://nonocast.cn/understanding-connect/">Understanding Connect 3.0</a></li>
          <li><a href="http://nonocast.cn/%e8%af%bb%e4%b9%a6%e7%ac%94%e8%ae%b0-%e4%bb%b7%e6%a0%bc%e6%b8%b8%e6%88%8f/">读书笔记: 价格游戏</a></li>
          <li><a href="http://nonocast.cn/hello-smtp/">Hello SMTP</a></li>
          <li><a href="http://nonocast.cn/something-about-dns/">Something about DNS</a></li>
          <li><a href="http://nonocast.cn/%e8%af%bb%e4%b9%a6%e7%ac%94%e8%ae%b0-good-strategy-bad-strategy/">读书笔记: Good strategy, bad strategy</a></li>
          <li><a href="http://nonocast.cn/fw-%e5%bc%97%e6%a0%bc%e6%a3%ae%e5%9c%a8%e5%93%88%e4%bd%9b%e5%95%86%e5%ad%a6%e9%99%a2%e6%bc%94%e8%ae%b2%e5%ae%9e%e5%bd%95/">FW: 弗格森在哈佛商学院演讲实录</a></li>
          <li><a href="http://nonocast.cn/fw-%e4%b8%80%e4%b8%aa%e7%94%b7%e7%94%9f%e5%a6%82%e4%bd%95%e5%8f%98%e5%be%97%e6%88%90%e7%86%9f/">FW: 一个男生如何变得成熟?</a></li>
          <li><a href="http://nonocast.cn/%e8%af%bb%e4%b9%a6%e7%ac%94%e8%ae%b0-%e4%bb%93%e9%bc%a0%e9%9d%a9%e5%91%bd-cota/">读书笔记: 仓鼠革命 (COTA)</a></li>
          <li><a href="http://nonocast.cn/%e8%af%bb%e4%b9%a6%e7%ac%94%e8%ae%b0-%e4%bd%90%e8%97%a4%e5%8f%af%e5%a3%ab%e5%92%8c%e7%9a%84%e8%b6%85%e6%95%b4%e7%90%86%e6%9c%af/">读书笔记: 佐藤可士和的超整理术</a></li>
          <li><a href="http://nonocast.cn/disk-usage-in-mac-os-x/">Disk Usage in Mac OS X</a></li>
          <li><a href="http://nonocast.cn/inside-git-part-3/">Inside Git (Part 3)</a></li>
          <li><a href="http://nonocast.cn/measure-arrange-pattern/">Measure Arrange Pattern</a></li>
          <li><a href="http://nonocast.cn/node-as-service-in-window/">Node as service in Windows</a></li>
          <li><a href="http://nonocast.cn/using-grunt/">Using Grunt</a></li>
          <li><a href="http://nonocast.cn/%e5%b0%9d%e8%af%95%e7%94%a8stream%e9%85%8d%e5%90%88coffee%e5%a4%84%e7%90%86git-blob-object/">尝试用stream处理git object</a></li>
          <li><a href="http://nonocast.cn/inside-git-source-code-part-2/">Inside Git Source Code (Part 2)</a></li>
          <li><a href="http://nonocast.cn/using-doxygen/">Using Doxygen</a></li>
          <li><a href="http://nonocast.cn/finding-and-grpping/">finding and grepping</a></li>
          <li><a href="http://nonocast.cn/inside-git-source-code-part-1/">Inside Git Source Code (Part 1)</a></li>
          <li><a href="http://nonocast.cn/fw-node-js-is-not-suitable-for-generic-web-projects/">FW: Node.js is not suitable for generic web projects</a></li>
          <li><a href="http://nonocast.cn/stream-in-node-js/">Stream in Node.js</a></li>
          <li><a href="http://nonocast.cn/buffer-in-node-js/">Buffer in Node.js</a></li>
          <li><a href="http://nonocast.cn/cor-pattern/">CoR Pattern</a></li>
          <li><a href="http://nonocast.cn/%e8%af%bb%e4%b9%a6%e7%ac%94%e8%ae%b0-%e7%95%aa%e8%8c%84%e5%b7%a5%e4%bd%9c%e6%b3%95/">读书笔记: 番茄工作法</a></li>
          <li><a href="http://nonocast.cn/ssh-on-osx/">ssh on OS X</a></li>
          <li><a href="http://nonocast.cn/32-or-64-debian/">32 or 64 @debian?</a></li>
          <li><a href="http://nonocast.cn/%e8%af%bb%e4%b9%a6%e7%ac%94%e8%ae%b0-%e6%8a%8a%e4%bd%a0%e7%9a%84%e8%8b%b1%e8%af%ad%e7%94%a8%e8%b5%b7%e6%9d%a5/">读书笔记: 把你的英语用起来</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <article>
        <h3>读书笔记: Good strategy, bad strategy</h3>
C1 好战略可遇不可求
<ul>
	<li>好战略旨在实现某一重要目标，具有连贯性、协调性、指导性和物质性的特征。</li>
	<li>好战略单纯而专一，大多数复杂的组织都会分散资源，而不是集中资源，以期安抚并实现内部与外部的利益，好的战略会因为其专注性让人出乎意料。</li>
	<li>要制定好战略，领导者就要向多种行为和利益说“不”。战略要求一个组织有所为，有所不为，二者必须并重，不可偏废其一。</li>
</ul>

C2 好战略之转换视角创造优势
<ul>
	<li>很多好战略的第二个天然优势就是能够洞察优势之源与劣势之源。从不同的角度或者全新的角度来看待事物，就能揭示出新的优势和机遇，以及新的弱势和威胁。</li>
	<li>战略就是利用己方相对优势攻击对手的软肋。</li>
	<li>牧童大卫击败巨人哥利亚。</li>
</ul>

C3 坏战略防不胜防
<ul>
	<li>坏战略的特征如下：空话、不能直面挑战、错把目标当战略、糟糕的战略目标。</li>
	<li>容易混淆战略与战略目标。</li>
	<li>如果你不能确定并分析障碍，你就不会拥有真正的战略，你所拥有的只是一个挑战性目标，一个预算或者愿望清单而已。</li>
	<li>领导者的责任是判断哪个方面的路径是最有效的，然后集中整个企业的知识、资源和精力为之奋斗。非常重要的一点是，机遇、挑战与变化并非每年都会准时准点的发生。因此，真正的战略工作并非每年都需要做，而是没有规律的。</li>
	<li>成为领导者要面临的一个挑战就是处理号一个转变，即从别人为你制定目标到自主决定企业宗旨与目标的转变。</li>
	<li>战略就是一个集中于一两个重要目标的”前进之路”。</li>
</ul>

C4 为什么坏战略普遍存在?
<ul>
	<li>战略就是要有所为，有所不为，既要利用有限的资源与精力实现一些目标，也要放弃一些目标。对于任何一个组织而言，除非集体毁灭的危险迫在眉睫，否则战略的转变必将触及一部分的利益，并使他们的生存环境恶化。因此，凡是涉及战略变化的任务，几乎都会遭到强烈的反对。</li>
	<li>任何连贯性的战略都会把资源集中应用到某些目标上，而将其他目标搁置起来。这是资源稀缺性和进行变革的必然结构，当然将资源从传统用途上撤出来是一个痛苦而艰难的过程。</li>
	<li>可能人们会说将这个或那个作为战略焦点，但到最后谁都不愿意改弦更张。当人们无法在多种发展道路之间进行取舍抉择的时候，这个组织也就无力制定新的战略，最终达成的是大家都统一的平凡普通、含糊不清的目标。</li>
	<li>这些问题表明，领导者在进行艰难抉择或落实艰难抉择时意志不够坚定，权力也不够大。从另一个角度来讲，普遍的认可往往意味着抉择的缺失。</li>
</ul>

C5 好战略的核心
<ul>
	<li>战略的核心内容是分析当前形势，制定指导方针来应对重大困难，并采取一系列连贯性的活动</li>
	<li>战略核心包括三个要素：调查分析、指导方针和连贯性活动。</li>
	<li>在商业领域，挑战通常是如何应对形势变化，如何在竞争中脱颖而出。要制定有效的战略，第一步是深入分析挑战的具体结构，而不是简单地制定业绩目标。第二步是选定应对当前形势的整体性指导方针，这会产生很大的作用或优势。第三步是进行活动配置和资源分配，落实既定的指导方针。</li>
	<li>调查分析可以归结到“目前发生了什么?”这一问题。制定战略不仅仅是决定要做什么，更基础的问题是如何读懂当前的形势。</li>
	<li>指导方针简要列出了为克服在局势分析中凸显出来的障碍而采取的总体策略。指导方针之所以具有“指导”意义，是因为它虽然指导人们朝着某些方向采取行动，却没有明确界定行动内容是什么，就像高速公路上的护栏一样，引导并约束人们的活动，而不全面界定活动内容。</li>
	<li>好的指导方针不是目标或愿景，也不是对于理想的终极状态的幻想，而是在排除其他可能性后确定下来处理问题的某种方法。</li>
	<li>战略的核心元素就是调动优势。</li>
	<li>战略核心不是到指导方针就结束了，而是必须包括行动。战略不需要明确指出为应对事态变化而采取的全部措施，但必须足够清楚地指出落实各种理念的行动。为了获得良好的结果，各种行动应该相互协调，相互促进，是各方面的资源得到集中利用。</li>
	<li>位于战略核心位置的行动应该是连贯的。也就是说，资源配置、指导方针以及具体步骤应该是协调一致的。行动的协调性是战略最基本的影响力之源或优势之源。</li>
</ul>

C6 发挥杠杆作用
<ul>
	<li>战略预测</li>
	<li>找准着力点</li>
	<li>集中力量</li>
</ul>

C7 制定近似目标
<ul>
	<li>所有领导者都有一个重要的职责，就是弱化问题的复杂性和模糊性，并在简化之后提供给自己的组织，而这个经过简化的问题是可以被解决的。很多领导者都在这个职责上做的很不好，总是宣布一些宏伟的目标，而对于将要克服那些障碍却没有做出充分的规划。“负责任”的意思不仅仅是在问题出现之后愿意承担罪责，还意味着设定近似目标，为组织提供一个能够切实的问题</li>
	<li>近似目标就是可行性最高的目标，近似目标是人们能够合理期待一个组织完成甚至超越的目标</li>
	<li>很多战略学方面的专家似乎都提出了这样的建议：形势的变动性越强，领导者就越需要高瞻远瞩。这是不符合逻辑的，其实形势的变动性越强，你的预见能力就越差。因此形势越是充满不确定性和变动性，战略目标就越需要有近似性，越应该“站稳脚跟，创造机遇”。</li>
	<li>如果无法自动实现飞行，那你就无法集中精力思考如何处理危机。</li>
	<li>集中精力实现某个目标，或者说将这个目标作为首要任务的同时，还必须兼顾到其他很多重要的事情。PJ之所以能够集中精力协调好他的直升机和救援船只，就是因为他已经掌握了各种飞行技能，这些技能已经变成了炉火纯青的例行动作。</li>
</ul>

C8 强化链条－环节系统
<ul>
	<li>很多组织中存在多个环节相互连接，如果只是努力提高一个环节的质量可能会导致整体状态的恶化! 提高一个环节的质量需要更好的资源、更昂贵的投入，包括人力资源。单纯改善一个环节并不会提高整个系统的性能，系统的整体效用实际上是降低了。</li>
	<li>IKEA的经验告诉我们，在打造持久的战略优势时，天才的领导者总是试图采取一系列相互衔接、环环相扣的行动。这一点增强了战略效率，提高了竞争对手的模仿门槛。尤其有趣的一点是，竞争优势和陷入困局都是链条－环节逻辑的体现。</li>
</ul>

C9 运用设计的思维
<ul>
	<li>很多有效的战略都是设计出来的，而不是筛选各种方案之后作出的决定。在这些案例中，制定战略更像是设计一台高性能的飞行器，而不是决定要买哪一台铲车或者建造多大规模的新工厂。当有人说“经理是决策者”的时候，他们所说的经理肯定不是战略大师，因为战略大师不是决策着，而是设计师。</li>
	<li>如果一个公司内部各个部门各自为政，简单地拼凑在一起，形成一个臃肿庞大的整体，那就如同怪物一般。如果公司要面向车队经营者设计价格中等的卡车，经销商要面对挑剔的司机，设计人员又要一味地降低成本，那么这家公司就无法持久地维系下去。好战略是精心设计出来的，设计就是要让不同的元素相互协调适应，这样它们才能形成一个连贯的整体。</li>
</ul>

C10 寻找焦点战略
<ul>
	<li>如果一家公司真的很成功，那么其成功背后通常有好的战略逻辑，无论这种逻辑是隐性的还是显性的。单实际情况是，很多公司尤其是大型的综合性公司都没有真正的战略。战略的核心是焦点化，大多数综合性组织的资源都没有集中化利用。相反，它们同时追求很多目标，而不是将足够的资源集中到其中一个目标上来实现突破。</li>
</ul>

C11 保证有效的增长
<ul>
	<li>健康的增长不需要处心积虑的策划，它是企业市场需求增加的结果，是企业能力拓展、深化的结果，是企业产品和技能出类拔萃的结果，是企业成功革新、智慧、高效和创新的结果。这种增长不只是一种产业现象。一般情况下，健康的增长表现为市场份额的增加，而这种份额增加与利润率是同步出现的。</li>
</ul>

C12 发挥竞争优势
<ul>
	<li>任何人都不可能在每一件事情上都占有优势。一个团队、一个组织甚至一个国家都只有在特殊的条件下才能在某种竞争中占有优势。发挥优势的秘密是明白情况的特殊性。你必须在占有优势的情况下向前迈进，而回避自己没有优势的环境。你必须已己之长攻人之短，而不可以以己之短克人之长。</li>
	<li>两支水平相当的球队在球场上等待开球，哪一个更有优势呢?这些问题的答案就是“两者都没有优势”，因为优势的根源在于差异化，也就是双方的不对称性。领导者的职责就是确定哪些不对称性是至关重要的，也就是哪些不对称性可转化为重要的优势。</li>
	<li>这是非上市公司的一个巨大优势。我当初从大型石油公司手里购买这些土地的时候，他们知识盯着今后一个季度或者一年的前景。他们想要尽快把这部分资产脱手，使其财务指标看起来美观些。我们在这些业务上的自主空间更大，能做的事情更多，因为我们没有上市公司所承受的那些巨大压力。</li>
</ul>

C13 秉持动态的视角
<ul>
	<li>当变革刚刚开始的时候，立即会涌现出大量的评论，可谓众说纷纷，莫衷一是。但是，你必须有能力透过这些表象，由表及里，深入挖掘，发现真正推动变革的基础性力量。如果一个领导者知识停留再表面的细节上，也许在稳定的时候作出一些成绩，但当变革大潮出现的时候，要驾驭这种潮流，就需要领导者能够目光如炬，看到这场变革的起源和动力。</li>
	<li>在经典的军事战略中，防御者比较喜欢占据高地。高地易守难攻，构成了一种天然的不对称性，这种不对称性就为占据高地者拥有优势奠定了基础。在学术界，很多战略理论都注重解释了为什么某些形式的经济高地是珍贵的，而且各种解释越来越复杂。但是，这些讨论都绕开了一个更重要的问题：你如何才能首先获得一个优势地位。这种地位虽然非常珍贵，但要获得它却需要付出更高的代价。而且如果你能轻而易举占据一个优势地位，它也会轻而易举落入下一个进攻者手中。</li>
	<li>要想找到一个新的无人防守的高地，一个方法是你自己通过创新把它创造出来。另外一个更为重要的方法就是利用好变革大潮。这种变革大潮一般都是外源性的，也就是由外部因素引起的，大多数情况下都超出了任何一个组织的控制能力。重要的变革大潮就像地震一样，创造除了新的高地，而曾经的高地被夷为平地。这种变革能够打破现有的竞争态势，抹去原来的优势，并创造出新的优势。它们能够释放出一些新力量，彻底强化或弱化现有的领头羊，也能够催生出全新的战略。</li>
	<li>外源性的变革大潮就像借助风力前行的赛艇一样，提供了一种天然的、有时狂暴的能量。领导者的职责就是借助自己的眼光、技能和创造力，利用好变革释放的能量，为某一目的服务。要利用变革大潮，首先你必须明白当前形势可能出现的演变趋势，然后根据形势的动态在有可能变成高地而且可防守的领域集中资源，锐意创新。</li>
</ul>

C14 利用惯性
<ul>
	<li>管理熵是指任何一种管理的组织、制度、政策方法等，在相对封闭的组织运动过程中，总呈现出有效能量逐渐减少，而无效能量不断增加的一个不可逆的过程。这也就是组织结构中的管理效率递减规律。</li>
	<li>美好的艺术品会随时间推移而掉色甚至破裂，驱车行驶在郊区的公路上，很容易发现一些长期无人维护的房子，花园里杂草丛生，门上的油漆脱落。同样，人们也可以很容易感觉到管理不严密给一个企业带来的后果：它的产品线集中性越来越差，在多样化的过程中丧失了重点；产品价格定得很低，以取悦于销售部门；船期表太长，只会让工厂从中得利。公司利润被高管们以奖金的形式据为己有，而他们的唯一功劳就是在公司内部竞争中依靠运气和资历打败其他人</li>
	<li>对于管理者和顾问而言，熵可是一个好消息。尽管战略顾问们嘴上说了很多高深莫测的理念，但他们最基本的任务海事破除企业的熵，即清除每一个企业花园中存在的废物和杂草。</li>
</ul>

关键点：
<ol>
	<li>战略是达到目的的关键手段。</li>
	<li>在制定战略时会因为观点、利益冲突导致无法达成一致，此时容易妥协，但领导者需要抉择，保证战略是明确的，而不是平凡普通、含糊不清。</li>
	<li>聚焦。将资源聚焦到关键的一两个能够起到杠杆作用的目标上。</li>
	<li>形成品牌。</li>
</ol>

制定战略步骤：
<ol>
	<li>调查分析， ”现在发生了什么“</li>
	<li>制定指导方针</li>
	<li>连贯性活动</li>
</ol>

重点：
<ul>
	<li>如果无法自动实现飞行，那你就无法集中精力思考如何处理危机。换句话说，如果你无法自动编写出优异的代码，那你就不用考虑产品和解决方案的方向了，毫无意义。</li>
	<li>战略的核心是焦点化。</li>
</ul>

参考内容：
<a href="http://www.ptt.cc/man/Eng-Class/D389/M.1112624037.A.4ED.html">精華區 - 批踢踢實業坊</a>
<a href="http://pallashuang.pixnet.net/blog/post/5526765-tactic-vs.-strategy">Tactic vs. Strategy @ 桂花圓 :: 痞客邦 PIXNET ::</a>
      </article>


    </div>
  </div>
</div>
