<style>
  .part-container { margin-top: 10px; }
  h2.calendar-title { margin: 0; margin-bottom: 20px; font-family: helvetica; font-size: 24px; float: right; }
  .day { background: white; border-top: 1px solid #bbb; padding: 5px 3px;  }
  .day p { float: right; }
  .day-header p { float: right; margin: 0px 0; padding: 0 2px 0 0; }
</style>
<div class="part-container">
  <ol class="breadcrumb">
    <li><a href="javascript:void(0);">技术中心</a></li>
    <li><a href="javascript:void(0);">开发团队</a></li>
    <li><a href="javascript:void(0);">开发1组</a></li>
    <li class="active">曹晖</li>
  </ol>
  <h2 class="calendar-title">May 2014</h2>
  <div style="clear: both;"></div>
  <div id="calendar">
  </div>
</div>
