<style>
* { margin: 0; padding: 0; }
body { padding-bottom: 50px; }
/* .jumbotron { padding-top: 10px !important; padding-bottom: 10px !important; } */
.bs-callout { padding: 10px !important; margin: 5px 10px !important; }
.progress { margin-bottom: 0px !important; }
ul { padding-left: 20px; }
.break { page-break-before: always; }
.summary td { padding: 2px 0 2px 0 !important; font-size:12px; }
.summary tr td:nth-child(2) { text-align: right; }
.summary tr td:nth-child(3) { text-align: right; color: #aaa; }
.value td { padding: 2px 0 2px 0 !important; font-size:12px; }
.value tr td:nth-child(2) { text-align: right; color: #aaa; }
.value tr td:nth-child(3) { text-align: right; }
.group-mbo { font-size: 11px; }
</style>
<div class="jumbotron">
  <div class="container">
    <h1>MBO, 2014 <small>{ draft }</small></h1>
    <p>我们是一群极有天分的软件精英，满怀激情的汇聚在一起，通过和客户紧密合作，持续以创新、设计、集成和交付创造价值，成就你我。</p>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-3">
      <h2>业绩</h2><h3>60%</h3>
      <ul>
        <li>工程软件项目开发1100万</li>
        <li>标准产品收入300万</li>
        <li>被动收入率25%</li>
        <li>利润率40%，利润560万</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h2>客户</h2><h3>10%</h3>
      <ul>
        <li>降低短期工程项目投诉次数</li>
        <li>建立长期外部行业客户关系</li>
        <li>提升外部客户满意度</li>
        <li>提升内部客户满意度</li>
      <ul>
    </div>
    <div class="col-md-3">
      <h2>内部流程</h2><h3>15%</h3>
      <ul>
        <li>项目管理体系-归档</li>
        <li>软件开发体系-版本控制</li>
        <li>目标和激励体系</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h2>学习与成长</h2><h3>15%</h3>
      <ul>
        <li>完成开发团队建设</li>
        <li>提高团队凝聚力和满意度</li>
        <li>提升技术能力</li>
      </ul>
    </div>
  </div>

  <h2>策略</h2>
  <div class="bs-callout bs-callout-danger">
    <p>致力于和客户的紧密合作，集成一流的软硬件产品，构建从弱电到业务流程的整体解决方案，<br>通过大跨度的整合集成能力形成差异化竞争。</p>
    <h4>关键指标</h4>
    <ul>
      <li>主动收入，即工程软件项目开发和服务金额</li>
      <li>被动收入，即标准化解决方案和产品收入</li>
      <li>被动收入率，即被动收入/总收入</li>
      <li>运营成本，即工资、奖金、报销和分摊</li>
      <li>利润和利润率</li>
    </ul>
  </div>

  <h2>细化目标</h2>
  <ol class="breadcrumb">
    <li><a href="javascript:void(0);">技术中心</a></li>
    <li><a href="javascript:void(0);">开发团队</a></li>
    <li><a href="javascript:void(0);">开发1组</a></li>
    <li class="active">孔祥海</li>
  </ol>

  <div class="table-responsive">
      <table class="table table-condensed group-mbo">
          <thead>
          <tr><th>目标项目</th><th>分解项目</th><th>关键指标</th><th>比重</th></tr>
          </thead>
          <tbody>
          <tr class="active">
              <td><strong>业绩</strong></td>
              <td></td>
              <td></td>
              <td><strong>60%</strong></td>
          </tr>
          <tr>
              <td>产品设计和开发</td>
              <td></td>
              <td>完成信息发布V3，会议预约V1</td>
              <td>36%</td>
          </tr>
          <tr>
              <td>项目设计和开发</td>
              <td></td>
              <td>按时按质完成开发任务</td>
              <td>24%</td>
          </tr>
          <tr class="active">
              <td><strong>客户</strong></td>
              <td></td>
              <td></td>
              <td><strong>10%</strong></td>
          </tr>
          <tr>
              <td>外部客户满意度</td>
              <td>项目直接客户</td>
              <td>满意度调查</td>
              <td>3%</td>
          </tr>
          <tr>
              <td>内部客户满意度</td>
              <td>项目经理</td>
              <td>满意度调查</td>
              <td>5%</td>
          </tr>
          <tr>
              <td></td>
              <td>商务</td>
              <td>满意度调查</td>
              <td>2%</td>
          </tr>
          <tr class="active">
              <td><strong>内部流程</strong></td>
              <td></td>
              <td></td>
              <td><strong>15%</strong></td>
          </tr>
          <tr>
              <td>规范流程</td>
              <td>项目管理体系-可视化和归档</td>
              <td>资料完整</td>
              <td>3%</td>
          </tr>
          <tr>
              <td></td>
              <td>软件开发体系-版本控制</td>
              <td>2位组员掌握Git技术，代码库符合Git标准</td>
              <td>3%</td>
          </tr>
          <tr>
              <td></td>
              <td>软件开发体系-质量控制</td>
              <td>代码审核，测试过程及文档完整(单体、系统)</td>
              <td>4%</td>
          </tr>
          <tr>
              <td>目标和激励体系</td>
              <td></td>
              <td>完成目标制定与绩效面谈</td>
              <td>5%</td>
          </tr>
          <tr class="active">
              <td><strong>学习与成长</strong></td>
              <td></td>
              <td></td>
              <td><strong>15%</strong></td>
          </tr>
          <tr>
              <td>团队建设</td>
              <td></td>
              <td>人员数量达12人</td>
              <td>2%</td>
          </tr>
          <tr>
              <td>掌握Unity开发</td>
              <td></td>
              <td>学习Unity开发，能够开发三维导览</td>
              <td>5%</td>
          </tr>
          <tr>
              <td>掌握Web开发架构</td>
              <td></td>
              <td></td>
              <td>6%</td>
          </tr>
          <tr>
              <td>项目管理提升</td>
              <td></td>
              <td>通过中项考试</td>
              <td>2%</td>
          </tr>
          </tbody>
      </table>
</div>
