<style>
ul#meeting-list { list-style-type: none; margin:0; padding:0; margin-top: 0px; }
ul#meeting-list li { font-size: 14px; }

article { font-family: '楷体'; background: #ffe; padding: 10px 20px 30px 20px; margin-top: -10px; }
article h1 { text-align: center; font-size: 24px; }
article h2 { font-size: 20px; margin-bottom: 15px; margin-top: 30px; }
article h4 { text-align: center; font-size: 12px; }
article ul { margin: 0; padding: 0; }
article li { margin: 0; padding: 0; }
article li { color: #777; margin: 3px 0; font-size:11px; }

article > ol {margin-top: 8px; }
article > ol > li { margin-left: -20px; color: #333; font-size: 14px; margin-bottom: 10px; }
article > ol > li > ol { margin-top: 5px; }
article > ol > li > ol > li { margin-left: -20px; color: #555; font-size: 12px; }
article > ol > li > ol > li > ul > li { margin-left: 30px; color: #777; }
</style>
<div class="part-container bs-docs-container">
  <div id="meeting">
    <div class="row">
      <div class="col-md-9" role="main">
        <article>
          <h1>技术中心第8次例会会议纪要</h1>
          <h4>时间：2014年5月12日（星期一）下午1:30</h4>
          <h4>出席人员：吴志雄、曹晖（主持），葛晓东、孔祥海、范国豪</h4>

          <h2>议程一：由各组长汇报当前项目进度和计划</h2>
          <ol>
            <li>开发1组
              <ol>
                <li>徐汇区法院
                  <ul>
                    <li>计划5月22日参观模拟环境，参观内容含庭审助手、公告系统、导览机（外观）</li>
                    <li>完成中软审判系统接口初步讨论，后续需通过高院流程后再详谈</li>
                    <li>10.1寸触摸一体机已给业主演示</li>
                    <li>5月22日莫工参观市政府第二会议室，后续准备带业主方参观</li>
                  </ul>
                </li>
                <li>南海法院：曹晖、封昌俊、钟湘光、方宇昕本周赴现场</li>
                <li>检验检疫局：方案已上报，尚未收到答复</li>
                <li>惠州中院：反馈邮件已发送，尚未收到答复</li>
                <li>崇明视频会议：5月14日封昌俊赴现场进行开发调试</li>
              </ol>
            </li>
            <li>开发2组
              <ol>
                <li>黑龙江高院：需向北京分公司了解项目需求、状态</li>
                <li>北京高院：需向北京分公司了解项目需求、状态</li>
                <li>北京人防：封昌俊提供两个软件接口</li>
                <li>江西人防：需确认招投标时间</li>
                <li>新疆军区显控系统：项目进入招投标流程</li>
                <li>GBVISION 3.0：开发工作结束，后续需进行文档编写工作</li>
                <li>济南农村信用社：是否中标尚未确认</li>
                <li>上海市检察院：软件界面需给陈贤俊确认</li>
                <li>中海油：等待卢静反馈项目情况</li>
                <li>中国银行：计划5月13日与许坚翔讨论需求</li>
                <li>武汉通用显控系统：5月20日前李若冠赴现场调试</li>
                <li>烟台通用：等待宋康天津电力工作完成后赴现场升级</li>
              </ol>
            </li>
            <li>开发3组
              <ol>
                <li>天津电力：需重现问题后进行排查</li>
                <li>郑州期货交易所：自主研发设备清单、价格已收到</li>
                <li>河南烟草：自主研发设备清单、价格已收到</li>
              </ol>
            </li>
          </ol>
          <h2>议程二：立项情况说明</h2>
          <ol>
            <li>会上确认今年立项项目名称，详细如下：
              <ol>
                <li>开发1组
                  <ul>
                    <li>金桥智慧法院综合应用管理系统</li>
                    <li>金桥视频会议集中控制系统</li>
                    <li>金桥多媒体资源存储管理系统</li>
                  </ul>
                </li>
                <li>开发2组
                  <ul>
                    <li>金桥多媒体信息查询指引系统</li>
                    <li>金桥互动式会议管理系统</li>
                    <li>金桥可视化集中调度控制系统</li>
                  </ul>
                </li>
                <li>开发3组
                  <ul>
                    <li>金桥新一代无纸化多媒体会议系统</li>
                    <li>金桥分布式多媒体远程会商系统</li>
                    <li>金桥智能远程审讯指挥系统</li>
                  </ul>
                </li>
              </ol>
            </li>
          </ol>
          <h2>议程三：针对项目经理和CCNP考试课程和费用问题</h2>
          <ol>
            <li>CCNP培训人员确定为：钟湘光、范国豪、陈欣聪</li>
            <li>CCNP学习人员需有一人常驻公司负责公司网络事务，确定人选为陈欣聪</li>
            <li>公司支付一次培训考试费用，如未通过考试，后续培训考试费用需自行承担</li>
          </ol>
          <h2>议程四：确定名片内容、NAS和移动路由器选型和费用问题</h2>
          <ol>
            <li>确定名片内容
              <ol>
                <li>孔祥海、吴锦晟 -- 研发主管</li>
                <li>葛晓东 -- 项目经理</li>
                <li>周红军、范国豪 -- 产品经理</li>
                <li>开发人员 -- 软件工程师</li>
              </ol>
            </li>
            <li>NAS服务器采购事宜：设备品牌和型号确定为群晖 ds214,采购走研发自用流程</li>
            <li>移动路由器采购事宜：购买12G，有效期为一年的3G上网卡，走报销流程</li>
          </ol>
        </article>
      </div>
      <div class="col-md-3">
        <div class="bs-docs-sidebar navbar-fixed-top" style="left: 790px; top: 60px;">
          <ul class="nav bs-docs-sidenav" id="meeting-list">
            <li class="active"><a href="javascript:(void);">技术中心第 8 次例会</a></li>
            <li><a href="javascript:(void);">技术中心第 7 次例会</a></li>
            <li><a href="javascript:(void);">技术中心第 6 次例会</a></li>
            <li><a href="javascript:(void);">技术中心第 5 次例会</a></li>
            <li><a href="javascript:(void);">技术中心第 4 次例会</a></li>
            <li><a href="javascript:(void);">技术中心第 3 次例会</a></li>
            <li><a href="javascript:(void);">技术中心第 2 次例会</a></li>
            <li><a href="javascript:(void);">技术中心第 1 次例会</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
