<style>
#project { margin: 10px 0; }
ul#project-list { list-style-type: none; margin:0;padding:0; }
ul#project-list li { font-size: 11px; padding-bottom:2px; height: 14px; border-bottom: 1px solid #eee; }

ul#month-list { margin: 0; padding: 0; margin-left: 205px; }
ul#month-list li { font-size: 11px; display: inline-block; }
</style>
<div class="part-container">
  <div id="project">
    <div><ul id="month-list"></ul></div>
    <div style="float: left; width: 205px;"><ul id="project-list"></ul></div>
    <div id="calendar-graph"></div>
  </div>
</div>
