<style>
#talk { margin-top: 10px; }
#talk textarea { resize:none; width:100%; height:125px; font-size:14px; }
#talk li img { max-width: 48px; }
.amibutton{
  font-weight:600;
  font-size:11px !important;
  line-height:17px;
  display:inline-block;
  text-decoration:none;
  padding:5px 12px;
  position:relative;
  text-shadow:0 1px 0 #fff;
  background:#f3f3f3;
  white-space:nowrap;
  border:solid 1px #dcdcdc;
  background:-webkit-gradient(linear,0% 40%,0% 70%,from(#f5f5f5),to(#f1f1f1));
  background:-moz-linear-gradient(linear,0% 40%,0% 70%,from(#f5f5f5),to(#f1f1f1));
  border-radius:2px !important
}
.amibutton,.amibutton:visited{color:#6e6e6e !important;text-decoration:none !important}
.amibutton img{vertical-align:middle;border:0;margin-right:4px !important}
.amibutton span{padding:0 !important;text-decoration:none !important}
.amibutton:hover{color:#333;border-color:#999;box-shadow:0 1px 2px rgba(0,0,0,0.15);text-decoration:none !important}
.amibutton:active{color:#000;border-color:#000 !important}
.amibutton_red,.amibutton_red:visited{background:0;background-color:#dd4b39;color:white !important;text-shadow:none;border:1px solid transparent}
.amibutton_red:hover{
  border-color:#b0281a;
  background-color:#c53727;
  background-image:-webkit-linear-gradient(top,#dd4b39,#c53727);
  background-image:-moz-linear-gradient(top,#dd4b39,#c53727);
  background-image:-ms-linear-gradient(top,#dd4b39,#c53727);
  background-image:-o-linear-gradient(top,#dd4b39,#c53727);
  background-image:linear-gradient(top,#dd4b39,#c53727);
  box-shadow:0 1px 2px rgba(0,0,0,0.15)
}
.amibutton_mini img{margin-right:0 !important}
</style>
<div id="talk" class="part-container">
  <ol class="breadcrumb">
    <li><a href="javascript:void(0);">技术中心</a></li>
    <li><a href="javascript:void(0);">开发团队</a></li>
    <li class="active">开发1组</li>
  </ol>
  <div class="row">
    <div class="col-md-5">
      <textarea></textarea>
      <div style="float:right">
        <a href="javascript:void(0)" class="amibutton amibutton_red" style="padding: 5px 30px;">发送&nbsp;&nbsp;&nbsp;&nbsp;》</a>
      </div>
    </div>
    <div class="col-md-7">
      <ul class="media-list">
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/images/icon/CaoHui.jpg" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">曹晖</h4>
            <p>有人说：互联网的玩法是，即使把所有的做法都公开出来，你学不会还是学不会，依葫芦画瓢也依然做做不处别人的效果。－ 因为这是和人有关的事情，不仅仅是靠钱和资源堆出来的。</p>
          </div>
        </li>

        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/images/icon/Ge.jpg" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">葛晓东</h4>
            <p>Apple 居然忘记给 Mac AppStore 更新域名的 SSL 证书续期了，导致几小时不能更新软件。它一定是用自家的 Reminders 设置提醒的。。。</p>
          </div>
        </li>

        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/images/icon/CaoHui.jpg" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">曹晖</h4>
            <p>推荐一下Thoughtworks的binlin</p>
            <img src="/images/talk/tw.jpg" style="max-width: 80%;">
          </div>
        </li>

        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/images/icon/CaoWeijun.jpg" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">曹炜俊</h4>
            <p>不错哦</p>
          </div>
        </li>

        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/images/icon/Zhong.jpg" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">钟湘光</h4>
            <p>嗯，就照这个意思办...</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
