<style>
  .part-container { margin-top: 10px; }
  h3 { padding-left: 0px; }
  h4 { display:none; color: #777; padding-left:3px; }
  ul.tasks { list-style-type: none; padding: 0; margin: 0; border-top: 3px solid #d9534f; padding-top: 10px; }
  ul.tasks li {
    color: #444;
    padding: 7px 0;
    border-bottom: 1px solid #ddd;
  }
</style>
<div class="part-container">
  <ol class="breadcrumb">
    <li><a href="javascript:void(0);">技术中心</a></li>
    <li><a href="javascript:void(0);">开发团队</a></li>
    <li><a href="javascript:void(0);">开发1组</a></li>
    <li class="active">曹晖</li>
  </ol>
  <div class="row">
    <div class="col-md-3">
      <h3>近期重点目标</h3>
      <h4>3 项</h4>
      <ul class="tasks">
        <li>徐汇法院核心设计和图纸</li>
        <li>Git学习 - 学习Pull-Request，这行要长长长</li>
        <li>内部团队协作网站</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3>待办事项</h3>
      <h4>15 项</h4>
      <ul class="tasks">
        <li>徐汇法院核心设计和图纸</li>
        <li>个人资料整理方法(COTA-PAO)</li>
        <li>Git学习</li>
        <li>VPS</li>
        <li>部署金总摄像头事项</li>
        <li>Blog重建</li>
        <li>LaTeX学习</li>
        <li>内部团队协作网站</li>
        <li>学习Connect-Express-Restify</li>
        <li>H.264/WMV转码测试</li>
        <li>徐法概要和详细设计文档</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3>今日计划</h3>
      <h4>2 项</h4>
      <ul class="tasks">
        <li>徐汇法院核心设计和图纸</li>
        <li>VPS</li>
        <li>Blog重建</li>
        <li>学习Connect-Express-Restify</li>
        <li>H.264/WMV转码测试</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3>完成</h3>
      <h4>2 项</h4>
      <ul class="tasks">
        <li>徐汇法院核心设计和图纸</li>
        <li>个人资料整理方法(COTA-PAO)</li>
        <li>部署金总摄像头事项</li>
        <li>Blog重建</li>
        <li>内部团队协作网站</li>
        <li>学习Connect-Express-Restify</li>
        <li>H.264/WMV转码测试</li>
        <li>徐法概要和详细设计文档</li>
      </ul>
    </div>
  </div>
</div>
