<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Index</title>
<link rel="stylesheet" href="/javascripts/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/stylesheets/docs.css">
<script src="/javascripts/jquery/dist/jquery.js"></script>
<script src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>
<script src="/javascripts/underscore/underscore.js"></script>
<script src="/javascripts/backbone/backbone.js"></script>
<script src="/javascripts/coffee-script/extras/coffee-script.js"></script>
<script src="/javascripts/numeral/min/numeral.min.js"></script>
<style>
</style>
<script type="text/coffeescript">
  class App

</script>
<body>
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">团队协作</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li><a href="#">目标</a></li>
        <li class="active"><a href="#">沟通</a></li>
        <li><a href="#">项目</a></li>
        <li><a href="#">任务</a></li>
        <li><a href="#">日历</a></li>
        <li><a href="#">会议</a></li>
        <li><a href="#">行政</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href='#'>nonocast</a></li>
        <li><a href='#'>设置</a></li>
        <li><a href='/logout'>注销</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>沟通</h1>
  </div>
</div>
</body>
</html>
